0.a. What is the number of rows in the features table?

In [1]:
from sqlite3 import connect

In [2]:
conn=connect('ce_gff.sqlite')

In [3]:
curse=conn.cursor()

In [4]:
sql='SELECT count(*) FROM features '

In [5]:
curse.execute(sql)

In [6]:
curse.fetchall()

[(659621,)]

0.b What is the number of rows in the attributes table?

In [7]:
sql='Select count(*) FROM attributes'

In [8]:
curse.execute(sql)

In [9]:
curse.fetchall()

[(3436229,)]

1. What are the types that are used in the features table (non-redundant list)

In [10]:
sql='SELECT Distinct type FROM features'

In [11]:
curse.execute(sql)

In [12]:
curse.fetchall()

[('CDS',),
 ('chromosome',),
 ('exon',),
 ('five_prime_UTR',),
 ('gene',),
 ('lnc_RNA',),
 ('mRNA',),
 ('miRNA',),
 ('ncRNA',),
 ('ncRNA_gene',),
 ('piRNA',),
 ('pre_miRNA',),
 ('pseudogene',),
 ('pseudogenic_transcript',),
 ('rRNA',),
 ('snRNA',),
 ('snoRNA',),
 ('tRNA',),
 ('three_prime_UTR',)]

2. How many types of features are there? Yes, I know you can count the number of entries above, but I want to see a SQL statement that does this.

In [13]:
sql='SELECT count(DISTINCT type) from features'

In [14]:
curse.execute(sql)

In [15]:
curse.fetchall()

[(19,)]

3. What are the tag that are used in the attributes table (non-redundant list)

In [16]:
sql='SELECT Distinct tag from attributes'

In [17]:
curse.execute(sql)

In [18]:
curse.fetchall()

[('Alias',),
 ('ID',),
 ('Name',),
 ('Parent',),
 ('biotype',),
 ('constitutive',),
 ('description',),
 ('ensembl_end_phase',),
 ('ensembl_phase',),
 ('exon_id',),
 ('gene_id',),
 ('logic_name',),
 ('protein_id',),
 ('rank',),
 ('transcript_id',),
 ('version',)]

4. How many different tags are there? Yes, I know you can count the number of entries above, but I want to see a SQL statement that does this.

In [19]:
sql='SELECT count(DISTINCT tag) from attributes'

In [20]:
curse.execute(sql)

In [21]:
curse.fetchall()

[(16,)]

5. How many genes are in C. elegans?

In [22]:
sql='''Select count(*) from features where type is "gene"'''

In [23]:
curse.execute(sql)

In [24]:
curse.fetchall()

[(20222,)]

6. How many genes are on chromosome II?

In [25]:
sql='''Select Count(*) from features 
WHERE type is 'gene' and seqid is'II'
group by type;'''

In [26]:
curse.execute(sql)

In [27]:
curse.fetchall()

[(3496,)]

7. How many genes are on each chromosome in C. elegans? This should be one statement.

In [28]:
sql='''select seqid,
count(*) from features Where type is "gene" group by seqid'''

In [29]:
curse.execute(sql)

In [30]:
curse.fetchall()

[('I', 2889),
 ('II', 3496),
 ('III', 2671),
 ('IV', 3305),
 ('MtDNA', 12),
 ('V', 5072),
 ('X', 2777)]

8. Get all of the features and their related attributes where the features seqid contains the characters "Mt", but limit the result to 10 rows.

In [31]:
sql='''Select * from features join attributes on
(features.featureid=attributes.featureid) 
Where seqid LIKE "%Mt%" limit 10'''

In [32]:
curse.execute(sql)

In [33]:
curse.fetchall()

[(467043,
  'MtDNA',
  'WormBase',
  'ncRNA_gene',
  1,
  55,
  '.',
  '+',
  '.',
  467043,
  'ID',
  'gene:WBGene00014450'),
 (467043,
  'MtDNA',
  'WormBase',
  'ncRNA_gene',
  1,
  55,
  '.',
  '+',
  '.',
  467043,
  'Name',
  'MTCE.1'),
 (467043,
  'MtDNA',
  'WormBase',
  'ncRNA_gene',
  1,
  55,
  '.',
  '+',
  '.',
  467043,
  'biotype',
  'tRNA'),
 (467043,
  'MtDNA',
  'WormBase',
  'ncRNA_gene',
  1,
  55,
  '.',
  '+',
  '.',
  467043,
  'gene_id',
  'WBGene00014450'),
 (467043,
  'MtDNA',
  'WormBase',
  'ncRNA_gene',
  1,
  55,
  '.',
  '+',
  '.',
  467043,
  'logic_name',
  'wormbase_non_coding'),
 (467044,
  'MtDNA',
  'WormBase',
  'tRNA',
  1,
  55,
  '.',
  '+',
  '.',
  467044,
  'ID',
  'transcript:MTCE.1'),
 (467044,
  'MtDNA',
  'WormBase',
  'tRNA',
  1,
  55,
  '.',
  '+',
  '.',
  467044,
  'Parent',
  'gene:WBGene00014450'),
 (467044,
  'MtDNA',
  'WormBase',
  'tRNA',
  1,
  55,
  '.',
  '+',
  '.',
  467044,
  'Name',
  'MTCE.1'),
 (467044,
  'MtDNA',
  'WormBase',
  'tRNA',
  1,
  55,
  '.',
  '+',
  '.',
  467044,
  'biotype',
  'tRNA'),
 (467044,
  'MtDNA',
  'WormBase',
  'tRNA',
  1,
  55,
  '.',
  '+',
  '.',
  467044,
  'transcript_id',
  'MTCE.1')]

9. Report the genes that are completely contained within the region of 40000-100000 on chromosome III.  Report their seqid, type, start and end points.

In [34]:
sql='''select seqid, type, start, end from features
where type is "gene" and start >=40000 and end <=100000 and seqid is "III"'''

In [35]:
curse.execute(sql)

In [36]:
curse.fetchall()

[('III', 'gene', 41061, 42021),
 ('III', 'gene', 57702, 58682),
 ('III', 'gene', 59869, 61166),
 ('III', 'gene', 62888, 66261),
 ('III', 'gene', 69073, 69817),
 ('III', 'gene', 70442, 86384),
 ('III', 'gene', 86677, 87381),
 ('III', 'gene', 87559, 89243),
 ('III', 'gene', 89453, 94809),
 ('III', 'gene', 95394, 97726),
 ('III', 'gene', 98398, 98922)]

 10. Report the genes that are completely contained within the region of 40000-100000 on chromosome III that have descriptions in the attribute table.  Report their seqid, type, start and end points, and the associated tag (which should be "description") and value.

In [37]:
sql='''select features.seqid, features.type, 
features.end, features.start, attributes.tag, attributes.value 
from features INNER JOIN attributes on features.featureid=attributes.featureid
Where type is "gene" and start>=40000 and end<=100000 and seqid is "III" and 
attributes.tag is "description"'''

In [38]:
curse.execute(sql)

In [39]:
curse.fetchall()

[('III',
  'gene',
  42021,
  41061,
  'description',
  'COLlagen  [Source:UniProtKB/TrEMBL;Acc:O44904]'),
 ('III',
  'gene',
  61166,
  59869,
  'description',
  'BTB (Broad/complex/Tramtrack/Bric a brac) domain protein  [Source:UniProtKB/TrEMBL;Acc:O44905]'),
 ('III',
  'gene',
  66261,
  62888,
  'description',
  'Phosphoenolypyruvate CarboxyKinase  [Source:UniProtKB/TrEMBL;Acc:Q8ITY0]'),
 ('III',
  'gene',
  69817,
  69073,
  'description',
  'Transcription elongation factor SPT4  [Source:UniProtKB/Swiss-Prot;Acc:Q9TZ93]'),
 ('III',
  'gene',
  86384,
  70442,
  'description',
  'AT hook Transcription Factor family  [Source:UniProtKB/TrEMBL;Acc:G4S460]'),
 ('III',
  'gene',
  89243,
  87559,
  'description',
  'Mitochondrial Ribosomal Protein, Large  [Source:UniProtKB/TrEMBL;Acc:Q9TZ90]'),
 ('III',
  'gene',
  94809,
  89453,
  'description',
  'Integrin-linked protein kinase homolog pat-4  [Source:UniProtKB/Swiss-Prot;Acc:Q9TZC4]')]