In [1]:
from sqlite3 import connect

In [2]:
conn = connect('/class/data/ce_gff.sqlite')
curs = conn.cursor()

In [35]:
# 0a
q0a = 'SELECT count(*) FROM features;'
res0a = curs.execute(q0a)
res0a.fetchone()[0]

659621

In [36]:
# 0b
q0b = 'SELECT count(*) FROM "attributes";'
res0b = curs.execute(q0b)
res0b.fetchone()[0]

3436229

In [37]:
# 1
q1 = 'SELECT DISTINCT type FROM features;'
res1 = curs.execute(q1)
for _ in res1: print(_)

('CDS',)
('chromosome',)
('exon',)
('five_prime_UTR',)
('gene',)
('lnc_RNA',)
('mRNA',)
('miRNA',)
('ncRNA',)
('ncRNA_gene',)
('piRNA',)
('pre_miRNA',)
('pseudogene',)
('pseudogenic_transcript',)
('rRNA',)
('snRNA',)
('snoRNA',)
('tRNA',)
('three_prime_UTR',)

In [38]:
# 2
q2 = 'SELECT count(DISTINCT type) FROM features;'
res2 = curs.execute(q2)
res2.fetchone()[0]

19

In [39]:
# 3
q3 = 'SELECT DISTINCT tag FROM "attributes";'
res3 = curs.execute(q3)
for _ in res3: print(_)

('Alias',)
('ID',)
('Name',)
('Parent',)
('biotype',)
('constitutive',)
('description',)
('ensembl_end_phase',)
('ensembl_phase',)
('exon_id',)
('gene_id',)
('logic_name',)
('protein_id',)
('rank',)
('transcript_id',)
('version',)

In [40]:
# 4
q4 = 'SELECT count(DISTINCT tag) FROM "attributes";'
res4 = curs.execute(q4)
res4.fetchone()[0]

16

In [41]:
# 5
q5 = 'SELECT count(*) FROM features WHERE features."type" = "gene";'
res5 = curs.execute(q5)
res5.fetchone()[0]

20222

In [42]:
# 6
q6 = 'SELECT count(*) FROM features WHERE "type" = "gene" AND seqid = "II";'
res6 = curs.execute(q6)
res6.fetchone()[0]

3496

In [43]:
# 7
q7 = 'SELECT seqid, count(type) FROM features WHERE type="gene" GROUP BY seqid;'
res7 = curs.execute(q7)
for _ in res7: print(_)

('I', 2889)
('II', 3496)
('III', 2671)
('IV', 3305)
('MtDNA', 12)
('V', 5072)
('X', 2777)

In [44]:
# 8
q8 = '''SELECT features.*, attributes.*
FROM features JOIN "attributes" ON features.featureid = "attributes".featureid
WHERE seqid LIKE "%Mt%"
LIMIT 10;'''
res8 = curs.execute(q8)
for _ in res8: print(_)

(467043, 'MtDNA', 'WormBase', 'ncRNA_gene', 1, 55, '.', '+', '.', 467043, 'ID', 'gene:WBGene00014450')
(467043, 'MtDNA', 'WormBase', 'ncRNA_gene', 1, 55, '.', '+', '.', 467043, 'Name', 'MTCE.1')
(467043, 'MtDNA', 'WormBase', 'ncRNA_gene', 1, 55, '.', '+', '.', 467043, 'biotype', 'tRNA')
(467043, 'MtDNA', 'WormBase', 'ncRNA_gene', 1, 55, '.', '+', '.', 467043, 'gene_id', 'WBGene00014450')
(467043, 'MtDNA', 'WormBase', 'ncRNA_gene', 1, 55, '.', '+', '.', 467043, 'logic_name', 'wormbase_non_coding')
(467044, 'MtDNA', 'WormBase', 'tRNA', 1, 55, '.', '+', '.', 467044, 'ID', 'transcript:MTCE.1')
(467044, 'MtDNA', 'WormBase', 'tRNA', 1, 55, '.', '+', '.', 467044, 'Parent', 'gene:WBGene00014450')
(467044, 'MtDNA', 'WormBase', 'tRNA', 1, 55, '.', '+', '.', 467044, 'Name', 'MTCE.1')
(467044, 'MtDNA', 'WormBase', 'tRNA', 1, 55, '.', '+', '.', 467044, 'biotype', 'tRNA')
(467044, 'MtDNA', 'WormBase', 'tRNA', 1, 55, '.', '+', '.', 467044, 'transcript_id', 'MTCE.1')

In [45]:
# 9
q9 = '''SELECT t1.seqid, t1.type, t1.start, t1.end
FROM features t1
WHERE t1.seqid = "III"
AND t1.start BETWEEN 40000 AND 100000
AND t1."end" BETWEEN 40000 AND 100000
AND t1."type" = "gene";'''
res9 = curs.execute(q9)
for _ in res9: print(_)

('III', 'gene', 41061, 42021)
('III', 'gene', 57702, 58682)
('III', 'gene', 59869, 61166)
('III', 'gene', 62888, 66261)
('III', 'gene', 69073, 69817)
('III', 'gene', 70442, 86384)
('III', 'gene', 86677, 87381)
('III', 'gene', 87559, 89243)
('III', 'gene', 89453, 94809)
('III', 'gene', 95394, 97726)
('III', 'gene', 98398, 98922)

In [49]:
q10 = '''SELECT t1.seqid, t1.type, t1.start, t1.end, t2.tag, t2.value
from features t1 
JOIN attributes t2 ON t1.featureid = t2.featureid
where t1.seqid = "III"
AND t1.start BETWEEN 40000 AND 100000
AND t1."end" BETWEEN 40000 AND 100000
AND t2.tag = 'description'
AND t1."type" = "gene"'''
res10 = curs.execute(q10)
for _ in res10: print(_)

('III', 'gene', 41061, 42021, 'description', 'COLlagen  [Source:UniProtKB/TrEMBL;Acc:O44904]')
('III', 'gene', 59869, 61166, 'description', 'BTB (Broad/complex/Tramtrack/Bric a brac) domain protein  [Source:UniProtKB/TrEMBL;Acc:O44905]')
('III', 'gene', 62888, 66261, 'description', 'Phosphoenolypyruvate CarboxyKinase  [Source:UniProtKB/TrEMBL;Acc:Q8ITY0]')
('III', 'gene', 69073, 69817, 'description', 'Transcription elongation factor SPT4  [Source:UniProtKB/Swiss-Prot;Acc:Q9TZ93]')
('III', 'gene', 70442, 86384, 'description', 'AT hook Transcription Factor family  [Source:UniProtKB/TrEMBL;Acc:G4S460]')
('III', 'gene', 87559, 89243, 'description', 'Mitochondrial Ribosomal Protein, Large  [Source:UniProtKB/TrEMBL;Acc:Q9TZ90]')
('III', 'gene', 89453, 94809, 'description', 'Integrin-linked protein kinase homolog pat-4  [Source:UniProtKB/Swiss-Prot;Acc:Q9TZC4]')

In [81]:
ex = """SELECT t1.seqid, t1.type, t1.start, t1.end, t2.tag, t2.value, t3.tag, t3.value
FROM features t1 
JOIN attributes t2 ON t1.featureid = t2.featureid 
AND t2.tag = 'gene_id'
LEFT JOIN attributes t3 ON t2.featureid = t3.featureid 
AND t3.tag = 'description'
WHERE t1.start BETWEEN 40000 AND 100000
AND t1."end" BETWEEN 40000 AND 100000
AND t1.seqid = 'III'
AND t1.type = 'gene'"""
res_ex = curs.execute(ex)
for _ in res_ex: print(_)

('III', 'gene', 41061, 42021, 'gene_id', 'WBGene00000663', 'description', 'COLlagen  [Source:UniProtKB/TrEMBL;Acc:O44904]')
('III', 'gene', 57702, 58682, 'gene_id', 'WBGene00021040', None, None)
('III', 'gene', 59869, 61166, 'gene_id', 'WBGene00021042', 'description', 'BTB (Broad/complex/Tramtrack/Bric a brac) domain protein  [Source:UniProtKB/TrEMBL;Acc:O44905]')
('III', 'gene', 62888, 66261, 'gene_id', 'WBGene00021043', 'description', 'Phosphoenolypyruvate CarboxyKinase  [Source:UniProtKB/TrEMBL;Acc:Q8ITY0]')
('III', 'gene', 69073, 69817, 'gene_id', 'WBGene00005014', 'description', 'Transcription elongation factor SPT4  [Source:UniProtKB/Swiss-Prot;Acc:Q9TZ93]')
('III', 'gene', 70442, 86384, 'gene_id', 'WBGene00018794', 'description', 'AT hook Transcription Factor family  [Source:UniProtKB/TrEMBL;Acc:G4S460]')
('III', 'gene', 86677, 87381, 'gene_id', 'WBGene00018795', None, None)
('III', 'gene', 87559, 89243, 'gene_id', 'WBGene00018793', 'description', 'Mitochondrial Ribosomal Protein, Large  [Source:UniProtKB/TrEMBL;Acc:Q9TZ90]')
('III', 'gene', 89453, 94809, 'gene_id', 'WBGene00003931', 'description', 'Integrin-linked protein kinase homolog pat-4  [Source:UniProtKB/Swiss-Prot;Acc:Q9TZC4]')
('III', 'gene', 95394, 97726, 'gene_id', 'WBGene00016222', None, None)
('III', 'gene', 98398, 98922, 'gene_id', 'WBGene00016223', None, None)